.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #8f22af;
}
.home-heading-title {
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
}
.home-desktop-menu {
  display: flex;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-home {
  color: rgb(255, 255, 255);
  font-size: 25px;
  transition: 0.3s;
  text-decoration: none;
}
.home-home:hover {
  color: #bebebe;
}
.home-home:active {
  color: #bebebe;
}
.home-math {
  color: #ffffff;
  font-size: 25px;
  transition: 0.3s;
  margin-left: 25px;
}
.home-math:hover {
  color: #bebebe;
}
.home-math:active {
  color: #bebebe;
}
.home-cv {
  color: rgb(255, 255, 255);
  font-size: 25px;
  transition: 0.3s;
  margin-left: 25px;
  text-decoration: none;
}
.home-cv:hover {
  color: #bebebe;
}
.home-links {
  color: rgb(255, 255, 255);
  font-size: 25px;
  transition: 0.3s;
  margin-left: 25px;
  text-decoration: none;
}
.home-links:hover {
  color: #bebebe;
}
.home-links:active {
  color: #bebebe;
}
.home-teaching {
  color: rgb(255, 255, 255);
  font-size: 25px;
  transition: 0.3s;
  margin-left: 25px;
  text-decoration: none;
}
.home-teaching:hover {
  color: #bebebe;
}
.home-teaching:active {
  color: #bebebe;
}
.home-random-non-mathematical-stuff {
  color: rgb(255, 255, 255);
  font-size: 25px;
  transition: 0.3s;
  margin-left: 25px;
  text-decoration: none;
}
.home-random-non-mathematical-stuff:hover {
  color: #bebebe;
}
.home-random-non-mathematical-stuff:active {
  color: #bebebe;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image {
  height: 2rem;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text16 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text18 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon-group {
  display: flex;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #D9D9D9;
}
.home-container4 {
  flex: 0 0 auto;
  width: 80%;
  height: 800%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.home-text19 {
  width: 100%;
  height: 200px;
  font-size: 80px;
  align-self: center;
  text-align: center;
  padding-top: 45px;
  background-color: rgba(217, 217, 217, 0.25);
}
.home-container5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 50px;
  justify-content: center;
  background-color: #ffffff;
}
.home-text22 {
  width: 55%;
  font-size: 25px;
  text-align: justify;
  font-family: Source Sans Pro;
  margin-left: 80px;
  padding-top: 20px;
  margin-right: 130px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #f8f8f8;
}
.home-image1 {
  width: 180px;
  align-self: center;
  object-fit: cover;
  margin-right: 100px;
}
.home-container6 {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
.home-text28 {
  width: 80%;
  padding: 20px;
  font-size: 25px;
  align-self: center;
  text-align: justify;
  font-family: Source Sans Pro;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #f8f8f8;
}
.home-container7 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px;
  align-self: center;
  margin-top: 10px;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: center;
  background-color: #ffffff;
}
.home-text31 {
  width: 80%;
  padding: 20px;
  font-size: 25px;
  text-align: justify;
  font-family: Source Sans Pro;
  background-color: #f8f8f8;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: #8f22af;
}
.home-icon10 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}
.home-text34 {
  color: rgb(255, 255, 255);
}
.home-icon12 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-left: 50px;
  margin-right: 10px;
}
.home-text35 {
  color: rgb(255, 255, 255);
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text34 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-text35 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-container4 {
    width: 100%;
  }
  .home-container5 {
    flex-direction: column-reverse;
  }
  .home-text22 {
    flex 0 0 auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .home-image1 {
    flex 0 0 auto;
    margin-left: auto;
    margin-right: auto;
  }
  .home-text28 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .home-text31 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text34 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text35 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
